.container {
  background-color: #FFFFFF;
  font-size: 14px;
  color: black;
}

.container img {
  max-width: 100%;
  height: auto;
}

.container .align-center {
  text-align: center
}

.container pre {
  padding: 10px;
  background-color: #2b2b2b;
  border-radius: 10px;
  color: white;
}

.navbarCustom {
  background-color: #FFFFFF !important;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.postImage {
  margin: 10px;
  width: 30px;
}

.postLink {
  color: black;
}

.postLink h1 {
  margin: 10px 0;
}

.title {
  display: flex;
  align-items: center;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  color: #333333;
}

.pagination {
  margin: auto;
}

.pageIndicator {
  margin: 0 10px;
}

.pageArrow:hover {
  cursor: pointer;
}

.disabled {
  color: #808080;
}

.disabled:hover {
  cursor: default;
}
