.navbarCustom {
  margin-bottom: 0;
  color: white !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url('https://andrewgingrich-site-assets.s3.amazonaws.com/personal-site/dark-background.jpg');
}

.flag {
  margin-right: 20px;
  display: inline;
}
.flag:hover {
  cursor: pointer;
}


/* not in use */
.navbarCustom.navbar-toggle {

  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbarCustom.navbar-toggle:focus,
.navbarCustom.navbar-toggle:active {
  outline: none;
}
.navbarCustom.navbar-brand {
  font-weight: 700;
  margin-left: 40px;
}
.navbarCustoma {
  color: white;
}
.navbarCustom.nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbarCustom.nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbarCustom.nav li a:focus,
.navbarCustom.nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbarCustom.nav li.active {
  outline: none;
}
.navbarCustom.nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbarCustom.nav li.active a:hover {
  color: white;
}

/* @media (min-width: 768px) {
  .navbarCustom{
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
} */
