body {
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url('https://d2ngsrllpwd87n.cloudfront.net/personal-site/dark-background.webp');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 1.5;
}

section {
  padding-top: 30px;
}

@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

hr {
  border: 1px solid black;
}
