.content {
  color: black;
  background-image: url('https://andrewgingrich-site-assets.s3.amazonaws.com/personal-site/grey-background.jpg');
  /* font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-size: 14px;
}
